<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Ajouter </h4>
                    </div>
                    <div class="content">
                        <form 
                        *ngIf="!isSuccessful"
                        name="form"
                        (ngSubmit)="f.form.valid && onSubmit()"
                        #f="ngForm"
                        novalidate>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Libelle</label>
                                        <input type="text" class="form-control" placeholder="libelle" [(ngModel)]="form.libelle" required minlength="5" maxlength="100" #libelle="ngModel">
                                        <div class="alert-danger" *ngIf="libelle.errors && f.submitted">
                                            <div *ngIf="libelle.errors.required">libelle est obligatoire</div>
                                            <div *ngIf="libelle.errors.minlength">
                                                Le libelle doit comporter au moins 5 caractères
                                            </div>
                                            <div *ngIf="libelle.errors.maxlength">
                                                Le libelle doit comporter au maximum 100 caractères
                                            </div>
                                          </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">   
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>zoneDSN</label>
                                        <input type="zoneDSN" class="form-control" placeholder="zoneDSN" [(ngModel)]="form.zoneDSN" required zoneDSN #zoneDSN="ngModel" >
                                        <div class="alert-danger" *ngIf="zoneDSN.errors && f.submitted">
                                            <div *ngIf="zoneDSN.errors.required">zoneDSN est obligatoire</div>

                                          </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Phase NEODeS</label>
                                        <input type="phase" class="form-control" placeholder="phase" [(ngModel)]="form.phase" required  #phase="ngModel" >
                                        <div class="alert-danger" *ngIf="phase.errors && f.submitted">
                                            <div *ngIf="phase.errors.required">Phase NEODeS est obligatoire</div>
                                          </div>
                                          
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Commentaire</label>
                                        <input type="commentaire" class="form-control" placeholder="Commentaire" [(ngModel)]="form.commentaire"  #commentaire="ngModel" >
                                        <div class="alert-danger" *ngIf="commentaire.errors && f.submitted">
                                          </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Bloc</label>    
                                        <select   class="form-control" [(ngModel)]="form.bloc" #bloc ="ngModel">
                                            <option *ngFor ="let bloca of blocs_ajt" [ngValue] ="bloca.id" >{{bloca.libelle}}</option>
                                            
                                            </select>
                                    </div>
                                </div>
                            </div>



                           
                            <button type="submit" class="btn btn-info btn-fill pull-right">Ajouter </button>
                            <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                                failed!<br />{{ errorMessage }}
                              </div>
                            <div class="clearfix"></div>
                        </form>
                        <div class="alert alert-success" *ngIf="isSuccessful">
                            Enregistrement effectué avec succès !
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
